/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    height: 600px;
    width: 100%;
}

.info_map {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 9999;
    width: 340px;
    height: 62px;
    background-color: #e0ffe0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 31px;
    font-size: 24px;
}


/* Optional: Makes the page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Button */

#btn-display {
    position: absolute;
    top: 100px;
    left: 60px;
    z-index: 1000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 14px;
    background: none padding-box #ffacac;
    color: black;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#btn-display:hover {
    color: rgb(255, 255, 255);
    background: #ff4848;
    transition: 0.2s ease-in-out;
}

#btn-search-path {
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 14px;
    background: none padding-box #8eff8c;
    color: black;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.icon-search {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.icon-show {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.icon-map {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#btn-search-path:hover {
    color: rgb(255, 255, 255);
    background: #2dff2a;
    transition: 0.2s ease-in-out;
}

#btn-search-path-astar {
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 1000;
    padding: 14px;
    background: none padding-box #8eff8c;
    color: black;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#btn-search-path-astar:hover {
    color: rgb(255, 255, 255);
    background: #2dff2a;
    transition: 0.2s ease-in-out;
}

#btn-search-path-dijkstra {
    position: absolute;
    top: 150px;
    left: 280px;
    z-index: 1000;
    padding: 14px;
    background: none padding-box #8eff8c;
    color: black;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#btn-search-path-dijkstra:hover {
    color: rgb(255, 255, 255);
    background: #2dff2a;
    transition: 0.2s ease-in-out;
}